@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

:root {
  --lightColor: hsl(0, 0%, 91%);
  --fontColor: rgba(0, 0, 0, 0.8);
  --fontColorLight: rgba(0, 0, 0, 0.3);
  --activeColor: rgba(56, 199, 192, 0.5);
  --redColor: rgb(214, 39, 40);
  --orangeColor: rgb(255, 127, 14);
  --greenColor: rgb(44, 160, 44);
  --blueColor: rgb(31, 119, 180);
  --greyColor: hsl(0, 0%, 40%);
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
  color: var(--fontColor);
  font-family: 'Comfortaa', cursive; 
  text-shadow: none;
  overflow: hidden;
}

body {
  background-color: whitesmoke;
}


#mindmap {
  display: block;
  width: 100vw;
  height: 100vh;
}

line {
  stroke: var(--lightColor);
  stroke-width: 6.5;
  stroke-dasharray: 2 4;
  
}
path {
  opacity: 0.5;
  overflow: hidden;
  stroke-width: 13;
  fill: none;
}

foreignObject {
}
foreignObject > div {
}
.active {
  background-color: var(--activeColor);
}

#infosContainer>img {
  width: 100%;
  height: auto;
}


pre { 
  opacity:  0;
  color: var(--fontColor);
  background-color: whitesmoke !important;
}
code {
  color: var(--fontColor) !important;
  text-shadow: none !important;
}
.active-code { 
  opacity: 1; 
  transition: opacity 1.5s ease-in-out;
}

.operator {
  color: var(--greyColor) !important;
  background-color: transparent !important;
} 
.function {
  color: var(--redColor) !important;
}
.keyword {
  color:  var(--blueColor) !important;
}
.comment {
  color: var(--greenColor) !important;
}
.string {
  color: var(--orangeColor) !important;
}
.punctuation {
  color: var(--greyColor) !important;
}
.class-name {
  color: var(--activeColor) !important;
}
mark {
  background-color: transparent !important;
  color: var(--fontColorLight) !important;
  font-style: italic !important;
  font-size: 10px !important;
}